header {
    text-align:center;
}
.principal {
    margin-top:10px;
}
#novaSenha {
    margin-top:10px;
    margin-bottom:10px;
}
#senha_info {
    font-weight:bold;
}
#resposta {
    color:red;
    font-weight:bold;
    text-align:center;
    font-size:18px;
}